.navbar {
  background-color: #000000;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
  transition: 0.6s ease;
}

.pokedex-link:hover {
  color: red;
  cursor: pointer;
}

.myteam-link {
  width: fit-content;
  color: #ffffff;
}

.myteam-link:hover {
  color: cornflowerblue;
  cursor: pointer;
}

.about-link:hover {
  color: cornflowerblue;
  cursor: pointer;
}

.content_container {
  top: 80px;
  position: relative;
  height: calc(100vh - 80px);
}

.pokemons_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 9vh 3%;
  padding: 2% 8%;
  justify-items: center;
  align-items: center;
  height: 100%;
  padding-bottom: 5%;
  /* overflow-y: scroll; */
}

@media screen and (max-width: 1060px) {
  .pokemons_container {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 5vh;
  }
}
@media screen and (max-width: 800px) {
  .pokemons_container {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10vh;
    grid-gap: 3vh 3%;
  }
}
@media screen and (max-width: 600px) {
  .pokemons_container {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 5vh;
    grid-gap: 1vh 3%;
  }
}

.filter_sort_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}
.search_container {
  display: flex;
  height: fit-content;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2% 8%;
}

#city_input {
  width: 60%;
  height: 40px;
  border-radius: 5px;
}

.filter_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#filter_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.filter_sorting_inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
