image: node

stages:
  - setup # List of stages for jobs, and their order of execution
  - build
  - test
  - lint

node-setup:
  stage: setup
  script:
    - npm install
  artifacts:
    paths:
      - node_modules

build: # This job runs in the build stage, which runs first.
  stage: build
  script:
    - npm run build

test: # This job runs in the test stage.
  stage: test # It only starts when the job in the build stage completes successfully.
  script:
    - npm run test

lint: 
  stage: lint
  script:
    - npm run lint

prettier:
  stage: lint
  script:
    - npm install --global prettier
    - prettier --check "**/*.{js,jsx,ts,tsx,json,md}"

