.my-team {
  display: block;
}

.team-grid-child {
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
  width: 100px;
  height: 50px;
  text-align: center;
  font-size: 20px;
}

.team-grid {
  width: 200px;
  display: grid;
  column-gap: 50px;
  grid-template-columns: repeat(2, 1fr);
}

.selected-Info {
  margin: 10px;
  width: fit-content;
  height: 500px;
  text-align: center;
}

/* 
.container {
  text-align: center; 
} */

.box {
  display: inline-block;
  width: 100px; /* Adjust the width as needed */
  box-sizing: border-box; /* Optional: Include padding and borders in the width */
  border: 1px solid #ccc; /* Optional: Add a border for clarity */
}
